#pusher > #footer {
	width: 100%;
	background: rgba(51, 102, 51, 0.02);
	margin-left: 0;
	margin-right: 0;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

#pusher > #footer > .ui.grid {
	margin-top: 0;
}

#footer > .ui.grid > .column > .ui.grid {
	opacity: 0.5;
}
