.grabber-card-outer {
	background: #336633;
	margin: 0 auto;
}

.grabber-card-outer > .grabber-card-inner {
	position: relative;
	width: 93.71%;
	height: 95.5%;
	top: 2.25%;
	margin: 0 auto;
	background: #fff;
}