.grabber-card-outer {
	background: #336633;
	margin: 0 auto;
}

.grabber-card-outer > .grabber-card-inner {
	position: relative;
	width: 93.71%;
	height: 95.5%;
	top: 2.25%;
	margin: 0 auto;
	padding: 4.6979865771812080536912751677852%;
	background: #fff;
	font-size: 0;
}

.grabber-card-outer > .grabber-card-inner > .character {
	display: inline-block;
	position: relative;
	width: 33.3333333333%;
	height: 20%;
	text-align: center;
	transition: opacity 0.50s ease-in-out;
	opacity: 0;
}

.grabber-card-outer > .grabber-card-inner > .character.active {
	opacity: 1;
}

.grabber-card-outer > .grabber-card-inner > .character > p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'NSimSun';
	font-size: 4vw;
	font-weight: bold;
}

.grabber-card-outer > .grabber-card-inner > .character.learn > p {
	color: #8a8aff;
}

.grabber-card-outer > .grabber-card-inner > .character.correct > p {
	color: #2aad2a;
}

.grabber-card-outer > .grabber-card-inner > .character.incorrect > p {
	color: #ff8989;
}