.lesson {
	transition: all 0.5s ease-in-out;
}

.lesson > .column > audio {
	width: 100%;
}

.lesson > .column > .archaic > .header {
	margin-bottom: 0;
}

.lesson-carousel > .lessons > .lesson {
	width: 100%;
	position: absolute;
	top: 0;
	margin-top: 0 !important;
	left: 50%;
	transform: translateX(-50%);
}

/* Simulate a carousel by using two Lesson components and swapping sides of the screen as needed;
 * the bypass class is needed to move the component to the other side of the screen without the user seeing the transition
 */
.lesson-carousel > .lessons > .lesson.bypass {
	transition: none !important;
}

.lesson-carousel > .lessons > .lesson.slide-left {
	transform: translateX(-150%);
}

.lesson-carousel > .lessons > .lesson.slide-right {
	transform: translateX(100%);
}

@media screen and (max-width: @computerBreakpoint - 1) {
	.lesson-carousel > .lessons > .lesson {
		margin: 0;
	}
}