.lesson-carousel {
	width: 100%;
}

.lesson-carousel > .lessons {
	width: 100%;
	position: relative;
}

.lesson-carousel > .selector > .steps.ordered > .step::before {
	font-size: 2em;
}

.lesson-carousel > .selector > .steps > .review {
	background-color: @green;
	color: #fff;
}

.lesson-carousel > .selector > .steps > .review:hover {
	background-color: @greenHover;
}

.lesson-carousel > .selector > .steps > .review:focus {
	background-color: @greenFocus;
}

.lesson-carousel > .selector > .steps > .review:active {
	background-color: @greenDown;
}

.lesson-carousel > .selector > .steps > .review:before {
	content: none;
}

.lesson-carousel > .selector > .lesson-indicator {
	display: none;
	background: lightgray;
	padding: 0.5em;
	color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: @tabletBreakpoint) {
	.lesson-carousel > .selector > .mobile.review {
		display: none;
	}
}

@media screen and (max-width: @tabletBreakpoint - 1) {
	.lesson-carousel {
		/* min-height: 100%; */
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.lesson-carousel > .selector > .steps {
		display: none !important;
	}

	.lesson-carousel > .selector > .lesson-indicator {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
}