#top-menu > .item.home {
	margin: 0;
	padding: 0;
}

#top-menu > .item.home:hover,
#top-menu > .item.home:active {
	background: none;
}

#top-menu > .menu > .item > .label {
	margin-left: 0;
	margin-right: 0.5em;
	background: @blue;
}

#top-menu > .menu > .register.item {
	padding-right: 0;
}

@media screen and (min-width: @tabletBreakpoint) {
	#side-menu {
		display: none;
	}

	#top-menu > .menu > .item.mobile {
		display: none;
	}
}

@media screen and (max-width: @tabletBreakpoint - 1) {
	#top-menu > .menu > .item:not(.mobile) {
		display: none;
	}
}