<Menus::SideMenu/>
<div id="pusher" class="ui grid one centered column pusher">
	<div class="row">
		<div class="ten wide widescreen twelve wide large screen sixteen wide computer sixteen wide tablet sixteen wide mobile column">
			<Menus::TopMenu/>
		</div>
	</div>
	<div class="row">
		<div class="ten wide widescreen twelve wide large screen sixteen wide computer sixteen wide tablet sixteen wide mobile column">
			{{outlet}}
		</div>
	</div>
</div>