<Menus::SideMenu/>
<div id="pusher" class="ui grid one centered column pusher">
	<div class="row">
		<div class="ten wide widescreen ten wide large screen ten wide computer fifteen wide tablet sixteen wide mobile column">
			<Menus::TopMenu/>
			{{outlet}}
		</div>
	</div>
</div>