<Menus::MenuLinks @user={{@model.user}} @classNames="ui right sidebar vertical labeled menu"/>
<div id="pusher" class="pusher">
	<div class="ui grid one centered column">
		<div class="row">
			<div class="ten wide widescreen twelve wide large screen sixteen wide computer sixteen wide tablet sixteen wide mobile column">
				<Menus::TopMenu @user={{@model.user}}/>
			</div>
		</div>
		<div id="main-row" class="row">
			<div id="main-column" class="ten wide widescreen twelve wide large screen sixteen wide computer sixteen wide tablet sixteen wide mobile column">
				{{outlet}}
			</div>
		</div>
	</div>
	<Footer/>
</div>
<div class="ui dimmer modals page transition">
	{{#if @model.session.isAuthenticated}}
		<Modals::IntroModal/>
		<Modals::UnreviewableModal/>
	{{/if}}
</div>