<div id="login-container" class="ui middle aligned grid child">
	<div class="column">
		<div class="ui center aligned page grid">
			<div class="twelve wide widescreen twelve wide large screen twelve wide computer sixteen wide tablet sixteen wide mobile column">
				<LoginForm @type={{@model.type}}></LoginForm>
			</div>
		</div>
	</div>
</div>