<div id="login-container" class="ui middle aligned grid child">
	<div class="column">
		<div class="ui center aligned page grid">
			<div class="sixteen wide tablet eight wide computer column">
				<LoginForm></LoginForm>
			</div>
		</div>
	</div>
</div>