{{#if this.top}}
	<a class="mobile icon item" {{action this.openSidebar on="click"}}>
		<i class="bars icon"></i>
	</a>
{{/if}}

{{#if this.session.isAuthenticated}}
	<LinkTo @route="authenticated.dashboard" class="item">
		Dashboard
	</LinkTo>

	<LinkTo @route="authenticated.lessons" class="item">
		<div class="ui label">{{this.lessons}}</div>
		Lessons
	</LinkTo>

	<LinkTo @route="authenticated.reviews" class="item">
		<div class="ui label">{{this.reviews}}</div>
		Reviews
	</LinkTo>

	<LinkTo @route="authenticated.poems" class="item">
		Poems
	</LinkTo>
{{else}}
	<LinkTo @route="login" class="item">
		Login
	</LinkTo>
{{/if}}