<div id="top-menu" class="ui secondary icon menu">
	<h1 class="item logo"><span class="hiragana">かるた</span> <span>SRS</span></h1>
	<div class="right menu">
		<Menus::MenuLinks @top=true @openSidebar={{action this.openSidebar}}/>
	</div>
</div>