<h1 class="item logo"><span class="hiragana bold blue">かるた</span> <span>SRS</span></h1>
<Menus::MenuLinks @user={{this.user}} @top=true @openSidebar={{action "openSidebar"}} @classNames="right menu"/>
