<a href="/" class="item home">
	<h1 class="logo"><span class="hiragana bold blue">かるた</span> <span>SRS</span></h1>
</a>
<Menus::MenuLinks @user={{this.user}} @top=true @openSidebar={{action "openSidebar"}} @classNames="right menu"/>