<div id="footer">
	<div class="ui grid one centered column">
		<div class="ten wide widescreen twelve wide large screen sixteen wide computer sixteen wide tablet sixteen wide mobile center aligned column">
			<div class="ui grid">
				<div id="credit-row" class="row">
					<div class="column">
						<p>
							Developed by <a href="https://github.com/GoldenChrysus" target="_blank" rel="noopener">GoldenChrysus</a>.<br>
							Copyright &copy; 2019-2020, Patrick Golden. All rights reserved.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="eight wide right aligned column">
						<h4>Resources</h4>
						<p>
							<a href="http://karuta.game.coocan.jp/detailedrule-e.html" target="_blank" rel="noopener">Karuta Rules</a><br>
							<a href="http://cats.karuta.or.jp/competitions" target="_blank" rel="noopener">Karuta Events</a><br>
							<a href="https://www.tofugu.com/japanese/learn-hiragana/" target="_blank" rel="noopener">Learn Hiragana</a><br>
							<a href="https://github.com/GoldenChrysus/KarutaSRS" target="_blank" rel="noopener">Karuta SRS GitHub</a>
						</p>
					</div>
					<div class="eight wide left aligned column">
						<h4>Donations</h4>
						<p>
							<a href="https://github.com/sponsors/GoldenChrysus" target="_blank" rel="noopener">GitHub</a><br>
							<a href="https://streamelements.com/chrysus/tip" target="_blank" rel="noopener">StreamElements</a><br>
							<a href="https://ko-fi.com/S6S611OOG" target="_blank" rel="noopener">Ko-fi</a><br>
							<a href="https://patreon.com/Chrysus" target="_blank" rel="noopener">Patreon</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>