<div class="ui grid">
	<div class="sixteen wide column">
		<h4 class="ui horizontal divider header">
			<i class="bar chart icon"></i>
			Your Statistics
		</h4>

		{{#if (eq this.type 'review')}}
			<div class="ui five statistics">
				<div class="statistic">
					<div class="value">341</div>
					<div class="label">Total Reviews</div>
				</div>
				<div class="statistic">
					<div class="value">83%</div>
					<div class="label">Kimariji Correct</div>
				</div>
				<div class="statistic">
					<div class="value">92%</div>
					<div class="label">2nd Verse Correct</div>
				</div>
				<div class="statistic">
					<div class="value">293 ms</div>
					<div class="label">Avg. Correct Response Time</div>
				</div>
				<div class="statistic">
					<div class="value">182 ms</div>
					<div class="label">Avg. Response Time</div>
				</div>
			</div>

			<h4 class="ui horizontal divider header">
				Performance Rate By Kimariji Length
			</h4>

			<div class="ui six statistics">
				<div class="statistic">
					<div class="value">92%</div>
					<div class="label">One</div>
				</div>
				<div class="statistic">
					<div class="value">87%</div>
					<div class="label">Two</div>
				</div>
				<div class="statistic">
					<div class="value">83%</div>
					<div class="label">Three</div>
				</div>
				<div class="statistic">
					<div class="value">71%</div>
					<div class="label">Four</div>
				</div>
				<div class="statistic">
					<div class="value">65%</div>
					<div class="label">Five</div>
				</div>
				<div class="statistic">
					<div class="value">61%</div>
					<div class="label">Six</div>
				</div>
			</div>

			<h4 class="ui horizontal divider header">
				Performance Rate By 2nd Verse Length
			</h4>

			<div class="ui seven statistics">
				<div class="statistic">
					<div class="value">92%</div>
					<div class="label">One</div>
				</div>
				<div class="statistic">
					<div class="value">87%</div>
					<div class="label">Two</div>
				</div>
				<div class="statistic">
					<div class="value">83%</div>
					<div class="label">Three</div>
				</div>
				<div class="statistic">
					<div class="value">71%</div>
					<div class="label">Four</div>
				</div>
				<div class="statistic">
					<div class="value">65%</div>
					<div class="label">Five</div>
				</div>
				<div class="statistic">
					<div class="value">61%</div>
					<div class="label">Seven</div>
				</div>
				<div class="statistic">
					<div class="value">61%</div>
					<div class="label">Eight</div>
				</div>
			</div>
		{{else}}
			<div class="ui three statistics">
				<div class="statistic">
					<div class="value">10:00 pm</div>
					<div class="label">Next Review</div>
				</div>
				<div class="statistic">
					<div class="value">41</div>
					<div class="label">Poems Learned</div>
				</div>
				<div class="statistic">
					<div class="value">0</div>
					<div class="label">Poems Mastered</div>
				</div>
			</div>

			<h4 class="ui horizontal divider header">
				Poems Learned By Level
			</h4>

			<div class="ui nine statistics">
				<div class="statistic">
					<div class="value">3</div>
					<div class="label">One</div>
				</div>
				<div class="statistic">
					<div class="value">5</div>
					<div class="label">Two</div>
				</div>
				<div class="statistic">
					<div class="value">6</div>
					<div class="label">Three</div>
				</div>
				<div class="statistic">
					<div class="value">11</div>
					<div class="label">Four</div>
				</div>
				<div class="statistic">
					<div class="value">15</div>
					<div class="label">Five</div>
				</div>
				<div class="statistic">
					<div class="value">1</div>
					<div class="label">Six</div>
				</div>
				<div class="statistic">
					<div class="value">0</div>
					<div class="label">Seven</div>
				</div>
				<div class="statistic">
					<div class="value">0</div>
					<div class="label">Eight</div>
				</div>
				<div class="statistic">
					<div class="value">0</div>
					<div class="label">Nine</div>
				</div>
			</div>

			<h4 class="ui horizontal divider header">
				Best & Worst Items
			</h4>

			<div class="ui stackable centered grid">
				<div class="eight wide column">
					<table class="ui unstackable table">
						<thead>
							<tr>
								<th colspan="4">Best Items</th>
							</tr>
							<tr>
								<th>#</th>
								<th>Kimariji</th>
								<th>2nd Verse Key</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><LinkTo @route="authenticated.poems.show" @model=1 class="header">Poem 1</LinkTo></td>
								<td>あきの</td>
								<td>わかころもては</td>
								<td>98%</td>
							</tr>
							<tr>
								<td><LinkTo @route="authenticated.poems.show" @model=15 class="header">Poem 15</LinkTo></td>
								<td>きみがためは</td>
								<td>わかころもてに</td>
								<td>96%</td>
							</tr>
							<tr>
								<td><LinkTo @route="authenticated.poems.show" @model=9 class="header">Poem 9</LinkTo></td>
								<td>はなの</td>
								<td>わかみよ</td>
								<td>92%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="eight wide column">
					<table class="ui unstackable table">
						<thead>
							<tr>
								<th colspan="4">Worst Items</th>
							</tr>
							<tr>
								<th>#</th>
								<th>Kimariji</th>
								<th>2nd Verse Key</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><LinkTo @route="authenticated.poems.show" @model=19 class="header">Poem 19</LinkTo></td>
								<td>なにはが</td>
								<td>あはて</td>
								<td>54%</td>
							</tr>
							<tr>
								<td><LinkTo @route="authenticated.poems.show" @model=56 class="header">Poem 56</LinkTo></td>
								<td>あらざ</td>
								<td>いまひとたひのあ</td>
								<td>56%</td>
							</tr>
							<tr>
								<td><LinkTo @route="authenticated.poems.show" @model=9 class="header">Poem 76</LinkTo></td>
								<td>わたのはらこ</td>
								<td>くもゐ</td>
								<td>57%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		{{/if}}
	</div>
</div>