<PageHeader @title="Poem Reviews">
	{{#if @model.review_queue_length}}
		<LinkTo @route="authenticated.reviews.queue" @model="reviews">
			<button class="ui blue button">Begin Review</button>
		</LinkTo>
	{{/if}}
</PageHeader>
<Statistics @type="review"/>