@red: #336633;
@blue: #8a8aff;
@lightRed: #ff8989;
@green: #88cc00;

body.pushable {
	background: inherit !important;
}

#pusher {
	margin: 0;
	min-height: auto;
}

.ui.red.label,
.ui.red.button:not(:hover):not(:active):not(:focus) {
	background-color: @red !important;
}

.ui.blue.label,
.ui.blue.button:not(:hover):not(:active):not(:focus) {
	background-color: @blue !important;
}

.ui.green.label,
.ui.green.button:not(:hover):not(:active):not(:focus) {
	background-color: @green !important;
}

.logo {
	padding: 0 !important;
	margin: 0 !important;
	display: block !important;
	font-weight: normal !important;
}

.logo > .hiragana {
	letter-spacing: -4px;
	font-size: 1.5em;
}

.logo > span:not(.hiragana) {
	font-size: 1.1em;
}

@media screen and (max-width: @tabletBreakpoint - 1) {
	#pusher > .row:first-of-type {
		padding-top: 0;
	}

	#pusher > .row:last-of-type {
		padding-bottom: 0;
	}

	#pusher > .row > .column {
		padding-bottom: 0;
		padding-top: 0;
	}
}