@red: #ff3d3d;
@cardBorder: #336633;
@blue: #8a8aff;
@lightRed: #ff8989;
@green: #88cc00;

body.pushable {
	background: inherit !important;
}

#pusher {
	display: flex;
	flex-flow: column;
	margin: 0;
	min-height: 100%;
	background: rgba(245, 246, 250, 0.1);
	position: relative;
}

#pusher > .ui.grid {
	flex: 1;
	display: flex;
	flex-flow: column;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

#pusher > .ui.grid > #main-row {
	flex: 1;
}

#pusher > .ui.grid > #main-row > #main-column {
	outline: none;
}

#pusher > .ui.grid > .row:first-of-type {
	border-bottom: 1px solid #d5d5d5;
	box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.10);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1.0), rgba(242, 242, 242, 0.25));
}

.ui.red.label,
.ui.red.button:not(:hover):not(:active):not(:focus) {
	background-color: @red !important;
}

.ui.blue.label,
.ui.blue.button:not(:hover):not(:active):not(:focus) {
	background-color: @blue !important;
}

.ui.green.label,
.ui.green.button:not(:hover):not(:active):not(:focus) {
	background-color: @green !important;
}

.logo {
	padding: 0 !important;
	margin: 0 !important;
	display: block !important;
	font-weight: normal !important;
}

.logo > .hiragana {
	letter-spacing: -4px;
	font-size: 1.5em;
}

.logo > span:not(.hiragana) {
	font-size: 1.1em;
}

.ui.dropdown > input[type='hidden'].noselection + .remove.icon {
	display: none;
}

@media screen and (max-width: @tabletBreakpoint - 1) {
	#pusher > .row:first-of-type {
		padding-top: 0;
	}

	#pusher > .row:last-of-type {
		padding-bottom: 0;
	}

	#pusher > .row > .column {
		padding-bottom: 0;
		padding-top: 0;
	}
}
