development:
  api_host: http://localhost:3000/api
  name: "Karuta SRS"

test:
  api_host: http://localhost:3000/api
  name: "Karuta SRS"

production:
  api_host: http://localhost:3000/api
  name: "Karuta SRS"