<!-- <GrabberCard @user={{@model.user}} @width="25%" @text="からくれなゐにみつくくるとは" @answer="から" @type="learn"/> -->
<!-- <Lesson @poem={{@model.poem}}/> -->
<!-- <LessonCarousel @queue={{@model.queue}}/> -->
<Statistics/>
<div id="intro-reminder" class="ui basic center aligned segment">
	Need a refresher on how everything works? Feel free to <LinkTo @route="authenticated.guide">visit the guide.</LinkTo>
</div>
<IntroModal @active={{@model.new_account}}/>