<PageHeader @title="Upcoming Lessons">
	{{#if @model.poems}}
		<LinkTo @route="authenticated.lessons.queue">
			<button class="ui blue button">Begin Lessons</button>
		</LinkTo>
	{{/if}}
</PageHeader>
{{#if @model.poems}}
	<PoemGrid @poems={{@model.poems}}/>
{{else}}
	<p>Nothing available right now. Check back tomorrrow!</p>
{{/if}}